
       @font-face{
        	font-family: raleway;
        	src:url(../fonts/raleway-regular.ttf);
        }

        @font-face{
        	font-family: raleway;
        	src:url(../fonts/raleway-thin.ttf);
        	font-weight: 100;
        }

        @font-face{
        	font-family: raleway;
        	src:url(../fonts/raleway-light.ttf);
        	font-weight: 200;
        }


        @font-face{
        	font-family: roboto;
        	src:url(../fonts/roboto-regular.ttf);
        }

        

        @font-face{
        	font-family: roboto;
        	src:url(../fonts/roboto-thin.ttf);
        	font-weight: 100;
        }

         @font-face{
        	font-family: roboto;
        	src:url(../fonts/roboto-light.ttf);
        	font-weight: 200;
        }

 		@font-face{
        	font-family: roboto;
        	src:url(../fonts/roboto-medium.ttf);
        	font-weight: bold;
        }

        @font-face{
        	font-family: "vonique 64";
        	src:url('../fonts/vonique 64.ttf');
        }


       @keyframes shake{
            0%{
                    transform:rotate(0deg);
                    transform:rotate(0deg);
                    transform:rotate(0deg);
                    transform:rotate(0deg);
                    transform:rotate(0deg);

            }
            20%{
                    transform:rotate(5deg);
                    transform:rotate(5deg);
                    transform:rotate(5deg);
                    transform:rotate(5deg);
                    transform:rotate(5deg);
            }
            40%{
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
            }
            60%{
                    transform:rotate(5deg);
                    transform:rotate(5deg);
                    transform:rotate(5deg);
                    transform:rotate(5deg);
                    transform:rotate(5deg);
            }
            80%{
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
                    transform:rotate(-5deg);
            }
            100%{
                    transform:rotate(0deg);
                    transform:rotate(0deg);
                    transform:rotate(0deg);
                    transform:rotate(0deg);
                    transform:rotate(0deg);
            }


        }
        
        /* HERO*/
        #hero{
            position: relative;
            margin:0px;
            zoom:1;
            top:82px;
            left:0px;
            height: 600px;
            width: 100%;
            background-image: url(../images/pamstrings.jpg);
            background-size: cover;
        }

        #hero_text{
            position: absolute;
            top:200px;
            left:55%;
            width:340px;
            margin-right: 0px;
            padding-right: 0px;
            text-align: left;
        }

        #hero_text span{
            font-family: roboto;
            font-weight: 200;
            font-size: 3.2em;
            color:#fff;
            line-height: 45px;
            text-transform: uppercase;
            margin-right: 0px;
        }

        #b1 a{
            color: #fff;
            border: 2px solid #fff;
        }

        #b1 a:hover{
            color:#454545;
            background-color: #fff;
        }

        #r1{
            position: relative;
            top:120px;
            /*border: 1px solid #aaa;*/
            background-color: #fff;
            height: 0px;
            padding: 0px;
            z-index: 6;
        }

        #black_box1{
            margin: 0px;
            padding: 0px;
            height: 400px;
            background: #fff;
        }

        #black_box1 img{
            padding: 0px;
            margin: 0px;
            height: 100%;
            width:100%;
        }

        #black_box2{
            padding: 0px;
            margin: 0px;
            height:400px;
            overflow: auto;
            text-align: center;
            background: #fff;
        }

        #black_box2 h1{
            margin: 20px 0px 20px 0px;
            color: #555;
            font-weight: 100;
        }

        #black_box2 span{
            display: inline-block;
            margin: 0px 10% 15px 10%;
            width: 80%;
            text-align: justify;
            font-family: roboto;
            color:#757575;
            font-weight: 200;
            font-size: 1.8em;
        }       
        
        #r1 a{
            display: inline-block;
            padding: 20px;
            max-width: 200px;
            border: 2px solid rgb(223, 32,8);
            margin: 30px 50px 20px 50px;
            color: rgb(223, 32, 8);
            text-decoration: none;
            font-family: roboto;
            font-size: 1.7em;
            transition:all 0.3s ease;
        }

        #r1 a:hover{
            background-color: rgb(223, 32, 8);
            color: #fff;
        }

        #about_right, #about_left{
            background-image: url(./a.png);
            height: 100%;
        }

        #r2{
            position: relative;
            top:170px;
        }

        #ad{
            padding: 0px;
            height: 200px;
        }

        #ad img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        #r3{
            position: relative;
            top:230px;
            color: #ff0000;
            height: 533px;
            background-image: url('./images/concert-2.jpg');
        }

        #r3 h1{
            padding: 0px;
            margin: 0px;
            text-align: center;
            color:#ccc;
            font-weight: 100;
            font-size: 2.8em;
        }

        .events{
            position: absolute;
            left: 10%;
            display:block;
            padding: 0px;
            margin: 0px;
            border-bottom: 2px solid;
            border-radius: 0px 0px 0px 11px;
        }

        .date{
            display: inline-block;
            padding: 20px;
            font-family: roboto;
            font-size: 2.4em ;
            color: #fff;
            font-weight: 100;
            border-radius: 10px;
        }

        .venue{
            display: inline-block;
            padding: 20px 50px 20px 50px;
            color: rgb(3, 5, 88);
            font-family: roboto;
            font-size: 2.4em;
            font-weight: 100;
        }
            
        #r3 a{
            position: absolute;
            bottom: 0px;
            left: 20%;
            display: inline-block;
            padding: 15px 20px 15px 20px;
            border: 2px solid #fff;
            margin: 20px 20px 20px 30px;
            color: #fff;
            text-decoration: none;
            font-family: roboto;
            font-size: 2.2em;
            transition:all 0.3s ease;
        }

        #r3 a:hover{
            background-color: #fff;
            color: #353535;
        }


        #r4{
            position: relative;
            top:280px;
            background-color: #fff;
        }

        #r4 h1{
            color: #353535;
            margin: 10px;
        }

        #r4 img{
            width:100%;
            height: auto;
            transition:all 0.3s ease;
            cursor: pointer;
        }

        #r4 img:hover{
            transform: scale(1, 1.1);
            box-shadow: 2px 2px 15px #aaa;
        }


        #r4 a{
            display: inline-block;
            padding: 20px;
            border: 2px solid rgb(223, 32, 8);
            margin: 20px 20px 20px 30px;
            color: rgb(223, 32, 8);
            text-decoration: none;
            font-family: roboto;
            font-size: 2.2em;
            transition:all 0.3s ease;
        }

        #r4 a:hover{
            background-color:  rgb(223, 32, 8);
            color: #fff;
        }

        #img1 a{
            padding: 0px;
            margin: 0px;
            border: none;
        }

        #img2 a{
            padding: 0px;
            margin: 0px;
            border: none;
        }

        #img3 a{
            padding: 0px;
            margin: 0px;
            border: none;
        }

        #img4 a{
            padding: 0px;
            margin: 0px;
            border: none;
        }

        .footer{
            top:330px;
        }
        /* END OF HERO*/

        body{
            margin: 0px;
            padding: 0px;
            font-size: 100%;
            background-image: url(../images/a.png);
            /*background-color: #000;*/
        }

        *{
            box-sizing:border-box;
        }

        [class*="col-"]{
            padding: 15px;
            float: left;
           }

        .rows:after{
            content:"";
            clear: both;
            display: block;
        }

        .col-1{width: 8.33%;}
        .col-2{width: 16.66%;}
        .col-3{width: 25%;}
        .col-4{width: 33.33%;}
        .col-5{width: 41.66%;}
        .col-6{width: 50%;}
        .col-7{width: 58.33%;}
        .col-8{width: 66.66%;}
        .col-9{width: 75%;}
        .col-10{width: 83.33%;}
        .col-11{width: 91.66%;}
        .col-12{width: 100%;}

        #header{
            position: fixed;
            width: 100%;
            top: 0px;
            height: 82px;
            text-align: center;
            background-color: rgb(2, 19, 54);
            z-index: 20;
        }


        #header p{
            margin: 10px 0px 10px 0px;
            display: inline-block;
            font-family: raleway;
            color:  #fff;
            font-weight: bold;
            font-size: 4.0em;
            height:60px;
            width: 450px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        #logo {
            float:right; 
            position: absolute;
            top:8px;
            height: 73px;
            width: 100%;
            background: url('../images/logo.jpg');
            background-size: contain;
            background-position: 100%;
            background-repeat: no-repeat;
        }


        #nav_button{
            position:absolute;
            display: block;
            top:13px;
            left:40px;
            width:50px;
            height: 56px;
            text-align: center;
            padding: 0px;
            cursor: pointer;
            z-index: 5;
        }

        #nav_button div{
            position: absolute;
            width: 35px;
            height: 3px;
            background-color: rgb(221, 211, 212);;
            border-radius: 5px;
            margin: 0px 0px 0px 7px; 
            padding: 0px;
            transition: all 1s ease;
        }



        #nav_button:hover{
            animation-name:shake;
            animation-duration:0.3s;
        }

        #nav_button:hover div{
            animation : bar_size 0.3s;
        }



        #trans_bg{
            position: fixed;
            top:0px;
            width: 100%;
            height: 100%;
            background: rgb(65, 23, 23);
            opacity: -6;
            cursor: pointer;
            display: none;
            z-index: 4;
            transition:all 0.3s ease;
        }


        #menu{
            position: fixed;
            top:82px;
            left: -400px;
            height: 100%;
            width:300px;
            overflow: auto; 
            z-index: 10;
            background-color: rgb(2, 19, 54);;
            transition:all 0.3s ease;
        }

        #menu ul{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            min-height: 600px;
            /*border: 1px #151515 solid;*/
        }

        #menu ul li{
            text-align: center;
        }

        #menu ul a{
            display:block;
            padding:20px 0px 20px 0px;
            text-decoration: none;
            color: #fff;
            font-family: roboto;
            font-weight:100; 
            font-size: 2.4em;
            transition:all 0.3s ease;
        }

        #menu ul a:hover{
            background-color:rgb(65, 23, 23); 
            color: #fff;
        }

        

        h1{
            font-family: "vonique 64";
            font-size: 2.6em;
        }


        .button{
            position: absolute;
        }

        .button a{
            padding: 15px;
            font-family: roboto;
            /*font-weight: 200;*/
            font-size: 2.4em;
            text-decoration: none;
            border-radius: 10px;
            transition: all 0.3s ease;
        }

         .footer{ background:url(../images/footerbg.jpg) no-repeat left top; background-size:cover; position:relative; width:100%; padding:30px 0; text-align:center; font-size:20px; }
        .footer::after{ background:rgba(0,0,0,0.8); position:absolute; left:0; right:0; top:0; bottom:0; content:""; width:100%; height:100%; }
        .footer .socialicon{ position:relative; margin-bottom:20px; border-bottom:1px solid #666666; padding-bottom:20px; z-index:9999; }
        .footer .socialicon a{ display:inline-block; border-radius:100%; background:#fff; border:1px solid #fff; width:36px; height:36px; line-height:40px; margin-right:10px; }
        .footer .socialicon a i{ font-size:20px; }
        .footer .socialicon a:hover i{ color:#333; }
        .footer p{ color:#fff; z-index:9999; position:relative; margin-top:10px; } 


        /*.footer{
            position: relative;
            width:100%;
            height:150px;
            background-color: rgb(2, 19, 54);
            border-top: 2px solid #252525;
            text-align: center;
        }


        .footer p{
            color: #f0f0f0;
            font-family: raleway;
            font-size: 1em;
            margin-top: 20px;
            font-weight: 100;
            letter-spacing: 1px;
            position:relative;
            
        }*/


         @media only screen and (max-width:768px){

            #header p{
                display: none;
                
            }

            /*
            #logo_small {
                position: absolute;
                top:8px;
                height: 60px;
                width: 100%;
                background: url('../images/logo.jpg');
                background-size: contain;
                background-position: 55%;
                background-repeat: no-repeat;
                
            }*/
         }

        @media only screen and (max-width: 510px){

            #menu ul{
                min-height: 500px;
            }

            #menu ul a{
                font-size: 1.3em;
            }

        }
